.card-content {
    align-items: center;
    background-color: var(--clr-secondary);
    border-radius: .5rem;
    border: 1px solid var(--clr-primary);
    box-shadow: var(--shadow-settings);
    display: flex;
    gap: .75rem;
    justify-content: center;
    padding: 2rem;
    width: var(--segment-width);
}

.reminder-name {
    text-align: center !important;
}

.interval-type {
    text-transform: capitalize;
}

.button.minus,
.button.plus {
    font-size: 2rem;
    height: 3rem;
    width: 4rem;
}

.button.sign {
    background-color: var(--clr-tertiary);
    margin-top: .5rem;
}

.button.sign:hover {
    background-color: var(--clr-tertiary-v2);
}

.button.sign:disabled:hover {
    background-color: var(--clr-secondary);
    cursor: not-allowed;
}

.button.sign:disabled:active {
    transform: translate(0);
}

.container {
    background-color: var(--clr-white);
    border-radius: .5rem;
    border: 1px solid var(--clr-primary);
    box-shadow: var(--shadow-settings);
    margin-left: .7rem;
    margin-right: .5rem;
    position: relative;
}

.numbers {
    align-items: center;
    border-radius: .5rem;
    display: flex;
    font: var(--numbers-font);
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.saat-container {
    border-radius: 8rem;
    height: calc(var(--numbers-height) * var(--circle-multiplier));
    width: calc(var(--numbers-height) * var(--circle-multiplier));
}

.saat-amount {
    height: calc(var(--numbers-height) * var(--circle-multiplier));
    width: calc(var(--numbers-height) * var(--circle-multiplier));
}

.gün-container,
.hafta-container,
.ay-container,
.yıl-container {
    border-radius: 1.5rem;
    height: var(--numbers-width);
    width: var(--numbers-width);
}

.gün-amount,
.hafta-amount,
.ay-amount,
.yıl-amount {
    height: var(--numbers-width);
    width: var(--numbers-width);
}

.error {
    color: var(--clr-danger-700);
    font-size: large;
    text-align: center;
}

.reminderlist {
    padding-bottom: .5rem;
    padding-inline: .5rem;
    padding-top: .5rem;
}

.reminderlist-item {
    align-items: center;
    display: flex;
    height: 2.5rem;
    margin-bottom: .5rem;
    width: 100%;
}

.reminderlist-item:hover .reminderlist-buttons {
    display: flex !important;
}

.reminderlist-name {
    font-weight: 600;
}

.spacer {
    flex: 1;
    width: 100%;
}

.reminderlist-buttons {
    align-items: center;
    border-radius: .5rem;
    color: var(--clr-primary);
    display: none !important;
    height: 1.5rem;
    justify-content: center;
    margin-left: .5rem;
    width: 1.5rem;
}

.reminderlist-buttons.delete:hover {
    background-color: var(--clr-danger-700);
    color: var(--clr-white);
}

.reminderlist-buttons.edit:hover {
    background-color: var(--clr-action-700);
    color: var(--clr-white);
}