:root {
    --action-bg-color: #5d88d1;
    --card-bg-color: #ebd1b0;
    --circle-multiplier: 1.1;
    --danger-bg-color: #bd6464;
    --numbers-font: 500 4rem Montserrat;
    --numbers-height: 8rem;
    --numbers-width: 7rem;
    --offwhite-bg-color: #f4f4f4;
    --segment-width: 24rem;
    --shadow-color: #7e6a51;
    --shadow-settings: .15rem .15rem var(--shadow-color);
    --white-bg-color: #fcf8f4;
}

.card {
    background-color: var(--card-bg-color);
    border-radius: .5rem;
    border: 1px solid var(--shadow-color);
    box-shadow: var(--shadow-settings);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-width: 450px;
    padding: 1rem 2rem 2rem;
}

.card-content {
    background-color: var(--offwhite-bg-color);
    border-radius: .5rem;
    border: 1px solid var(--shadow-color);
    box-shadow: var(--shadow-settings);
    gap: .75rem;
    padding: 2rem;
    width: var(--segment-width);
}

.segment {
    background-color: var(--offwhite-bg-color);
    border-radius: .5rem;
    border: 1px solid var(--shadow-color);
    box-shadow: var(--shadow-settings);
    font-size: 1.25rem;
    padding: .25rem .5rem;
    text-align: center;
    width: var(--segment-width);
}

.segment:hover {
    background-color: var(--offwhite-bg-color);
    cursor: pointer;
}

.reminder-name:focus {
    background-color: var(--white-bg-color);
    box-shadow: none;
    outline: dotted 1px black;
}

.interval-type:focus {
    outline: none !important;
}

.reminder-name:hover {
    cursor: text !important;
}

.interval-type {
    text-transform: capitalize;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.button {
    background-color: var(--white-bg-color);
    border-radius: .5rem;
    border: 1px solid var(--shadow-color);
    box-shadow: var(--shadow-settings);
}

.minus,
.plus {
    font-size: 2rem;
    height: 3rem;
    width: 4rem;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.015);
}

.button:active,
.submit:active {
    background-color: var(--offwhite-bg-color);
    box-shadow: .1rem .1rem var(--shadow-color);
    transform: translate(0.1rem);
}

.container {
    background-color: var(--white-bg-color);
    border-radius: .5rem;
    border: 1px solid var(--shadow-color);
    box-shadow: var(--shadow-settings);
    margin-left: .7rem;
    margin-right: .5rem;
    position: relative;
}

.numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    font: var(--numbers-font);
    position: absolute;
    z-index: 1;
}

.saat-container {
    border-radius: 8rem;
    height: calc(var(--numbers-height) * var(--circle-multiplier));
    width: calc(var(--numbers-height) * var(--circle-multiplier));
}

.saat-amount {
    height: calc(var(--numbers-height) * var(--circle-multiplier));
    width: calc(var(--numbers-height) * var(--circle-multiplier));
}

.gün-container,
.hafta-container,
.ay-container,
.yıl-container {
    border-radius: 1.5rem;
    height: var(--numbers-width);
    width: var(--numbers-width);
}

.gün-amount,
.hafta-amount,
.ay-amount,
.yıl-amount {
    height: var(--numbers-width);
    width: var(--numbers-width);
}

.remindername-error {
    color: var(--danger-bg-color);
    font-size: large;
    text-align: center;
}

.reminderlist {
    padding-bottom: .5rem;
    padding-inline: .5rem;
    padding-top: .5rem;
}

.reminderlist-item {
    align-items: center;
    display: flex;
    height: 2.5rem;
    margin-bottom: .5rem;
    width: 100%;
}

.reminderlist-item:hover .reminderlist-buttons {
    display: flex !important;
}

.reminderlist-name {
    font-weight: 600;
}

.spacer {
    flex: 1;
    width: 100%;
}


.reminderlist-buttons {
    align-items: center;
    border-radius: .5rem;
    color: var(--shadow-color);
    display: none !important;
    height: 1.5rem;
    justify-content: center;
    margin-left: .5rem;
    width: 1.5rem;
}

.reminderlist-buttons.delete:hover {
    color: var(--danger-bg-color);
}

.reminderlist-buttons.edit:hover {
    color: var(--action-bg-color);
}