* {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #646cffaa;
  font-family: 'Montserrat';
}

body {
  background-color: antiquewhite;
}

nav {
  display: flex;
  gap: 1rem;
  padding-inline: 1rem;
}